body {
  padding: 20px;
}

header {
  text-shadow: violet;
}

h1 {
  text-shadow: yellowgreen;
}
.about-me{
  margin-top:  20px;
}
.name{
  text-decoration: none;
  text-align: center;

}
.info{
  font-style: italic;
  line-height: 1.7;
  font-weight: 5rem;
  letter-spacing: 1px;
}
.myimg {
  border-radius:50px;
}

.about {
  display: block;
  float: left;
}
.background{
  padding: 10px;
  text-align: center;
}

footer {
  background-color: #222;
  color: #fff;
  font-size: 14px;
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  z-index: 999;
}

footer p {
  margin: 10px 0;
}

footer i {
  color: white;
}

footer a {
  color: #3c97bf;
  text-decoration: none;
}

.social {
  margin: 5px;
}
#projects{
  margin-top: 100px;
}
.projects {
      background-color: wheat;
  }
  .projects-container {
      display: flex;
      margin: 0 auto;
      flex-direction: column;
      align-items: center;
  }
  .main-image {
      width: 100%;
    align-items: center;
  }
  .other-projects {
      display: flex;

  }
  .flex-container {
    display: flex;
    flex-flow: column ;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: auto;
    width: 100%;
    flex-wrap: wrap;
  }
  .flex-item {
    display: flex;
    flex-direction: column;
    width: 45%;
    align-items: center;
    justify-content: space-between;
    flex-flow: column;
    margin-bottom: 30px;
    justify-content: space-evenly;
    background-position: center;
    margin-top: auto;
  }

  .flex-item span {
    width: 100%;
    flex-direction: column;
    margin-top: auto;

  }




.image {
    width: 350px;
    height: 350px;
}

/* Width at 1024px and below */
@media screen and (max-width: 1024px) {}

/* Width at 768px and below */
@media screen and (max-width: 768px)
